@model VFT.CMS.Client.ViewModels.Products.PagedViewModel


<div class="filter-bar d-flex flex-wrap align-items-center justify-content-between">
	<div class="sorting">
		<form asp-action="Index" method="get">
			<div class="input-group input-group-sm">
				<input type="text" name="SearchText" class="form-control float-right" placeholder="Tìm kiếm...">
				<div class="input-group-append">
					<button class="btn btn-default">
						<i class="fas fa-search"></i>
					</button>
				</div>
			</div>
		</form>
	</div>

	<div class="sorting text-white">
		Trang: @Model.CurrentPage / @Model.TotalPages
	</div>
</div>