@model VFT.CMS.Client.ViewModels.Products.PagedViewModel

@*<div class="row">*@
	<div class="d-flex align-items-center justify-content-between bg-dark text-white mb-4 p-2" style="border-radius: 10px;">
		<div class="col-4">
			<form asp-action="Index" method="get">
				<div class="input-group">
					<input type="text" name="searchText" class="form-control me-1" placeholder="Tìm kiếm...">
					<div class="input-group-append">
						<button class="btn btn-outline-secondary text-white" style="background-color: red !important; border-color: red;">
							<i class="fa-solid fa-magnifying-glass"></i>
						</button>
					</div>
				</div>
			</form>
		</div>

		<div>
			Trang: @Model.CurrentPage / @Model.TotalPages
		</div>
	</div>
@*</div>*@