@{
	ViewData["Title"] = "Thông tin sản phẩm";
	Layout = "_Layout";

	// define format VND
	var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

<style>
	.custom-img {
		width: 576px;
		height: 576px;
		object-fit: cover
	}
</style>

<!-- Product section-->
<section>
	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 align-items-center">
			<div class="col-md-6">
				<img class="card-img-top mb-5 mb-md-0 custom-img" src="~/@Model.Image" alt="..." />
			</div>
			<div class="col-md-6">
				<div class="small mb-1">SKU: BST-498</div>
				<h1 class="display-5 fw-bolder">@Model.Name</h1>
				<div class="fs-5 mb-5">
					<span>@String.Format(format, "{0:c0}", Model.Price)</span>
				</div>
				<p class="lead mb-5">@Model.Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
				<div class="d-flex mb-2">
					<input class="form-control text-center me-3" id="inputQuantity" type="number" value="1" style="max-width: 4rem" />
				</div>
				<button class="btn btn-success text-white flex-shrink-0" type="button">
					<i class="fa-solid fa-cart-plus"></i>
					Thêm vào giỏ hàng
				</button>
			</div>
		</div>
	</div>
</section>