@using VFT.CMS.Admin.ViewModels.Categories
@model CategoryViewModel


<!-- Modal -->
<div class="modal fade" id="CategoryDeleteModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="CategoryDeleteModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header btn-danger align-items-center">
				<i class="fas fa-trash"></i>
				<h5 class="modal-title ml-2" id="Title">
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="HideDeleteModal()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="formValidation" method="post">
					<input type="hidden" asp-for="Id" value="0" />
					<div class="form-group">
						<label asp-for="Name">
							@Html.DisplayNameFor(model => model.Name)
						</label>
						<input asp-for="Name" disabled class="form-control" />
						<i class="fa-solid fa-circle-exclamation" id="errorIcon"></i>
						@*<span id="error" class="text-danger"></span>*@
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger btn-sm btn-default" data-dismiss="modal" onclick="HideDeleteModal()">Hủy</button>
				<button class="btn btn-danger btn-sm" onclick="DeleteCategory();">Xóa</button>
			</div>
		</div>
	</div>
</div>


<script src="~/view-resources/Views/Category/_DeleteModal.js" asp-append-version="true"></script>