@*@model VFT.CMS.Admin.ViewModels.Roles.RoleViewModel

@{
	ViewData["Title"] = "Sửa Quyền";
	Layout = "_Layout";
}

<div class="content-wrapper">
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-10">
					<h1>@ViewData["Title"]</h1>
				</div>
			</div>
		</div>
	</section>

	<section class="content">
		<form method="post" asp-controller="Role" asp-action="Edit">
			<div class="row">
				<div class="col-md-6">
					<div class="card card-secondary">
						<div class="card-header">
							<h3 class="card-title">Sửa</h3>
						</div>
						<div class="card-body">
							<input type="hidden" asp-for="Id" />
							<div class="form-group">
								<label asp-for="Name" class="form-label">
									@Html.DisplayNameFor(model => model.Name)
								</label>
								<input asp-for="Name" type="text" class="form-control" />
								<span asp-validation-for="Name" class="text-danger"></span>
							</div>
						</div>
					</div>
					<div class="float-sm-right">
						<a href="/Role" class="btn btn-secondary">Hủy</a>
						<button type="submit" class="btn btn-success">Sửa</button>
					</div>
				</div>
			</div>
		</form>
	</section>
</div>*@