@using VFT.CMS.Admin.ViewModels.Roles
@model IEnumerable<RoleViewModel>

@{
	ViewData["Title"] = "Quyền";
	Layout = "_Layout";
}

@section scripts {
    <script src="~/view-resources/Views/Role/Index.js" asp-append-version="true"></script>
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@ViewData["Title"]</h1>
                </div>

                <div class="col-sm-6">
                    <div class="float-sm-right">
                        <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#RoleCreateModal">
                            <i class="fa fa-plus-square"></i>
                            Thêm mới
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="card">
            <div class="card-body p-0">
                <table class="table projects">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th class="text-center" style="width: 20%">
                                Tác vụ
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblRoleBody">
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>


@await Html.PartialAsync("~/Views/Role/_CreateModal.cshtml", Model)

<div class="modal fade" id="RoleEditModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="RoleEditModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>