<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>Trang @ViewData["Title"]</h1>
				<nav class="d-flex align-items-center">
					<a href="/home">Home<span class="lnr lnr-arrow-right"></span></a>
					<a href="#">Sản phẩm</a>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- End Banner Area -->