@model VFT.CMS.Admin.ViewModels.Products.PagedViewModel

<div class="card-header bg-secondary">
	<div class="card-tools float-left">
		<form asp-action="Index" method="get">
			<div class="input-group input-group-sm">
				<input type="text" name="SearchText" class="form-control float-right" placeholder="Tìm kiếm...">
				<div class="input-group-append">
					<button class="btn btn-default">
						<i class="fas fa-search"></i>
					</button>
				</div>
			</div>
		</form>
	</div>

	<h3 class="card-title float-right">
		Trang: @Model.CurrentPage / @Model.TotalPages
	</h3>
</div>