html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

#errorIcon {
    color: red;
    position: absolute;
    top: 60px;
    right: 30px;
    display: none;
}

/* custom validation */
.form-control:valid {
    border-color: #ced4da !important;
    background-image: none !important;
}

.form-control.is-valid, .was-validated .form-control:valid {
    padding-right: 12px !important;
}