html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

#errorIcon {
    color: red;
    position: absolute;
    top: 60px;
    right: 30px;
    display: none;
}